src/Bwt/__pycache__/*
*.DS_Store
*.pyc
src/TestFiles/Output/decompresso.txt
src/TestFiles/Output/outputBWT.txt
src/TestFiles/Output/outputDictBWT.txt
src/TestFiles/Output/outputMTF.txt
src/TestFiles/Output/outputPC.txt
src/TestFiles/Output/outputPCCodec.txt
src/TestFiles/Output/outputRLE.txt
*.aux
*.acn
*.fdb_latexmk
*.fls
*.glo
*.ist
*.lof
*.log
*.out
tesina/tesina.pdf
tesina/tesina.synctex.gz
*.toc
src/TestFiles/Output/outputDictLZW.txt
src/PC/in.txt
src/PC/out.txt
src/PC/outDict.txt
